header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body {
    background-color: #dfdfdf;
 }

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #00a3ef;
  text-decoration: none;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
